<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
        default-lazy-init="true">
    
   <!-- 基于Aspectj AOP配置事务(可以精准的织入到指定的连接点)-->
   <!-- 事务管理器 -->
   <bean id="myTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="dataSource"/>
   </bean>
   <tx:advice id="txAdvice" transaction-manager="myTransactionManager">
   		<tx:attributes>
   			<tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED"/>
   			<tx:method name="update" isolation="DEFAULT" propagation="REQUIRES_NEW"/>
   			<tx:method name="buyBook" isolation="DEFAULT" propagation="REQUIRED" rollback-for="BuyBookException"/>
   		</tx:attributes>
   </tx:advice>
   <aop:config>
   		<!-- 切入点配置 -->
   		<aop:pointcut id="pointCuts" expression="execution(* com.transation.*.*.*(..))" />
   		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointCuts"/>
   </aop:config>
</beans>